{% extends "base.html" %}

{% block content %}
<h1>
    Известен как: {{name}}<br>
    Идентифицирует себя как: {{sex}}<br>
    Должность: {{job}}<br>
    Статус: {{reputation}}<br>
</h1>

<h2>
    {% for item in news%}
    {% if user_id == item.user_id%}
    <div class="col-md6 border rounded">
        <div>
            <a href="/single_new/{{ item.id }}" class="btn btn-warning">
                {{item.content}}
            </a>

        </div>
        <div>
            Дата написания - {{item.created_date}}
        </div>
    </div>
    {% if current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
    {% endif %}
</h2>
{% endfor%}

{% endblock %}