{% extends "base.html" %}


{% block content %}
<h1>
    <a href="/profile/{{ new.user_id }}">
        <h1>
        Автор - {{ new.user.name }}
        </h1>
    </a>
    <h4>
        {{new.content}}
    </h4>
    {% if current_user.is_authenticated and current_user == new.user %}
    <div>
        <a href="/news/{{ new.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ new.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
</h1>
{% endblock %}